.desktop {
  position: fixed;
  inset: 0;
  bottom: 44px;
  background: url('/src/assets/chicagobackground.avif') center/cover no-repeat;
  overflow: hidden;
}

.icons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 4px;
  padding: 16px 8px;
  align-content: flex-start;
  height: 100%;
}
